@charset "UTF-8";

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v63/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');
}

/* Mobile First */

*{
    margin: 0;
    padding: 0;
}  

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: gray;
}

header > h1{
    text-align: center;
    padding: 5px;
}


.material-symbols-outlined { /*Configuração do material icon usado no menu mobile*/
    background-color: #2c2c2c;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48    
    
}


.material-symbols-outlined:hover{
    transition-duration: 250ms;
    background-color: white;
    color: black;
    cursor: pointer;
}

main{
    background-color: gainsboro;
    padding: 10px;
}

menu{
    list-style-type: none;
    background-color: gray;
    display: none;
}

menu{
    text-align: center;
}

menu a{
    background-color: darkslategrey;
    color: white;
    display: block;
    text-decoration: none;
    padding: 10px;
}


menu a:hover{

    transition-duration: 250ms;
    background-color: white;
    color: darkslategrey;
}

article{
    text-align: justify;
    display: block;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}
article > p{
    text-indent: 15px;
}

/*Estilo para telas maiores*/

@media screen and (min-width: 780px) { /*Media query para outras telas que não sejam mobile*/
    i.material-symbols-outlined{
        display: none;
    }
    menu{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
    }
}
