@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh; /* Atributo utilizado para indicar o quanto o conteúdo vai ocupar do viewheight da tela do dispositivo */
    width: 100vw;  /* Atributo utilizado para indicar o quanto o conteúdo vai ocupar do viewwidth da tela do dispositivo */
    background-color: black;
}

body{
    background: url("../imagens/fundo-madeira.jpg") no-repeat top center;
    background-size: cover; /* Atributo utilizado para cobrir totalmente a tela com o bg */
    background-attachment: fixed; /* Atributo utilizado para deixar o bg fixo */
}

main{
    position: relative;
    height: 100vh;
}

section#telefone{
    position: absolute;
    top: 50%; /* Atributo utilizado em conjunto com o "position" e faz com que o elemento indicado seja movido, nesse caso, 50% do topo */
    left: 50%; /* Atributo utilizado em conjunto com o "position" e faz com que o elemento seja movido, nesse caso, 50% da esquerda */

    transform: translate(-50%, -50%); /* Correção dos atributos top e left , para que o "inicio" do elemento seja movido do canto superior esquerdo para o meio" */



    height: 627px;
    width: 311px;
    background: url("../imagens/frame-iphone.png");
    background-repeat: no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes{
    text-align: right;
}

section#redes > a > img{

    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    justify-content: right;
    box-sizing: border-box;
    
}

section#redes img:hover{
    border: 2px solid rgba(255, 255, 255, 0.59);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.719);
    transition: transform .5s, border 1s;
}